@font-face {
    font-size:10px;
}

@font-face {
            font-family: "Roboto", sans-serif;
            src:local("Roboto");
}
@font-face {
    font-family:"Shrikhand", sans-serif;
    src:local("Shrikhand");
    font-size:20px;
}