:root {
    font-size: 10px;
}

html {
    font-family: "Roboto", sans-serif;
}
body{
    overflow-x:hidden;
}
#logo{
    height: 55px;
    line-height: 65px;
    font-family: "Shrikhand", sans-serif;
    font-size: 2rem;
   
}

 h1, h2, h3, h4, h5, h6 {
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight:800;
     letter-spacing: -2px;
    

}

#logo {
    grid-area: logo;
}

#intro {
    grid-area: intro;
}

#how {
    grid-area: how;
}

#restaurant {
    grid-area: resto;
}

#footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-areas:"logo "
                        "intro "
                        "how"
                        "resto "
                        "footer ";

    grid-template-columns:1fr;

    /*background-color: #eee*/;
}

#logo h1{
    text-align: center;
    font: "shrikhand" none 800 3rem;
    background-color: white;
    color: black;
}

#intro {
    background-color:#f9f9f9;
    text-align: center;
}

#div_title{
    display:flex;
    height: 50px;
    font-size: 15px;
    background: linear-gradient(
0deg
, #f2f2f2 0%, #f2f2f2 84%, #B1B1B1 100%);
}


#intro input[type="text"] {
    padding-left:20px;
    width:66%;
    text-align: left;
    font:inherit 600 1.5rem;
    border:none;
    background-color: transparent;
}
#intro i{
    
    width: 34%;
    text-align: right;
    font-size:17px;
}
#intro h2,#intro p{
    color:black;
}
#intro h2{
    margin-top:4rem;
    font-size:3rem;
}

#intro p{
    margin: 2rem 0;
    font-size: 1.8rem;
}
#intro button {
    padding: 0 15px;
    margin-bottom:20px;
    height: 4rem;
    line-height: 4rem;
    background: linear-gradient(to bottom right , #ff79da,#9356dc );
    border-radius: 2.5rem;
    border-color: #ff79da;
    color:white;
    font-size:1.5rem;

}
#how {

    height: fit-content;
    background-color: white;
}
#howtitle{

    padding: 15px 20px 0 20px;
    font-size: 2.5rem;

}
#choice {
    grid-area: choice;
}

#compose {
    grid-area: compose;
}

#eat {
    grid-area: eat;
}

#list{
    display: grid;
   
    grid-gap: 30px;
    grid-template-rows:repeat(3,60px);
    grid-template-columns: 1fr;
    padding: 3.5rem 2rem 3.5rem 2.5rem;
    font-size: 1.5rem;

}
#choice, #compose, #eat{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid rgb(239,239,239);
    border-radius: 15px;
    box-shadow: 0 3px 5px 0 rgb(239 239 239);
    font-weight: 600;
}
#choice ,#compose {

    background-color:#f9f9f9;
}
#eat{

    background-color:#f4e3ff;
}
#eat i{
    color:blueviolet;
}
#list li i{
    padding-left:15px;
    width: 45px;
}
#list li span{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    left:-12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size:1.5rem;
    border: 2px solid #9356dc;
    border-radius: 50%;
    background-color: #9356dc;
    color: white;

  
}
#restotitle {
    grid-area: restotitle;
}

.palette {
    grid-area: palette;
}

.note {
    grid-area: note;
}

.francaise {
    grid-area: francaise;
}

.delice {
    grid-area: delice;
}

#resto {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: auto repeat(4,250px);
    grid-template-columns: 1fr;
    margin-bottom: 80px;
    background-color: #eee;
    padding:15px;
}

#resto h2 {
   
    height: 30px;
    line-height: 30px;
    font-size: 25px;

}

#resto figure{
    position: relative;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 5px 10px silver;
    background-color: #fff;
    color: black;

}

#resto img {

    object-fit:cover;
    width:100%;
    height: calc(100% - 80px);
    border-radius: 1rem 1rem 0 0;
}



#resto figcaption {
    padding: 10px;
    height: 80px;
}

#resto figcaption h3 {
    display: inline-block;
    font-size: 20px;
}

#resto i {
    position: absolute;
    right: 30px;
    bottom: 45px;
    font-size: 2rem;
}

#resto i:hover, #resto i:active{
    display:block;
    /*background: linear(to bottom right , #ff79da);*/
    transform-origin:center center;
    transform:scaleX(1);
    transition: transform 250ms, color 150ms;
    font-weight:bold;
    color:rgba(255,121,218,1);
}
#resto figcaption p{
    font-size:1.5rem;
}
#resto span{
    display: flex;
    position:absolute;
    right: 5px;
    top:10px;
    padding-left:8px;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align:center;
    font-size: 1.5rem;
    border: 1px solid mediumspringgreen;
    background-color: mediumspringgreen;
    color: mediumseagreen;
}


footer{
    padding:20px;
    background-color:#303030;
    color:white;
}
footer ul{
    margin:1rem 0;
}
footer li {
    height: 100%;
    line-height: 25px;
    font-size: 1.5rem;
}
footer a{
    color:white;
}
footer i{
    width: 30px;
    font-size:1.5rem;
}

