
@font-face{
    font-family: "Shrikhand", sans-serif;
}
@font-face {
    font-family: "Roboto", sans-serif;
}
h1{
    font-family: "Shrikhand", sans-serif;
    font-size: 2rem;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto", sans-serif;
    font-size: 25px;
}
#logo{
    text-align:center;
}
#div_title{
    display:flex;
    padding: 0 0 0 55px;
    height: 50px;
    font-size: 15px;
    background: linear-gradient(0deg, #f2f2f2 0%, #f2f2f2 84%, #B1B1B1 100%);


}
#restotitle{
    grid-area:restotitle;
}
#palette{
    grid-area: palette;
}
#note{
    grid-area:note;
}
#francaise{
    grid-area:francaise;
}
#delice{
    grid-area:delice;
}
#resto{
    display:grid;
    grid-template-areas:"restotitle restotitle"
                        "palette note"
                        "francaise delice";
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:60px repeat(2,275px);
}
#restotitle{
    font-size:20px;
}
#resto img {
    height:calc( 100% - 70px);
}
#resto figcaption {
    height:70px;
}
#resto i{
    bottom:35px;
}