
#logo{
    text-align:center;
}
#div_title{
    display:flex;
    padding: 0 0 0 55px;
    height: 50px;
    font-size: 15px;
    box-shadow: inset 0 2px 0 0 lightgrey;
    background-color:#dbdbdb;

}