
@font-face{
    font-family: "Shrikhand", sans-serif;
}
@font-face {
    font-family: "Roboto", sans-serif;
}
h1{
    font-family: "Shrikhand", sans-serif;
    font-size: 2rem;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto", sans-serif;
    font-size: 25px;
}
#logo{
    text-align:center;
}
#div_title{
    display:flex;
    padding: 0 0 0 55px;
    height: 50px;
    font-size: 15px;
    background: linear-gradient(0deg, #f2f2f2 0%, #f2f2f2 84%, #B1B1B1 100%);
    background-color:#eee;

}
#resto img {
    height:calc( 100% - 70px);
}
#resto figcaption {
    height:70px;
}
