:root {
    font-size: 8px;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}
#logo {
    grid-area: logo;
}
#search {
    grid-area: search;
}
#restaurant {
    grid-area: restaurant;
}
#footer {
    grid-area: footer;
}
body {
    display: grid;
    grid-template-areas:
        "logo"
        "search"
        "restaurant"
        "footer";
    grid-template-rows: 25px repeat(2, 265px) 35px;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
#logo,
h1 {
    font-family: "Shrikhand", sans-serif;
}
#logo {
    text-align: center;
}
#spot {
    grid-area: spot;
}
#filters {
    grid-area: filters;
}
#search {
    display: grid;
    grid-template-areas:
        "spot"
        "filters";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.resto_header {
    grid-area: resto_header;
}
.restoone {
    grid-area: restoone;
}
.restotwo {
    grid-area: restotwo;
}
.restothree {
    grid-area: restothree;
}
.restofour {
    grid-area: restofour;
}
#restaurant {
    display: grid;
    grid-template-areas:
        "resto_header"
        "restoone"
        "restotwo"
        "restothree"
        "restofour";
    grid-gap: 1rem;
    grid-template-rows: 25px repeat(4, 200px);
    grid-template-columns: 1fr;
}
#footer {
    padding: 1rem 0 1rem 1rem;
}
#footer > ol {
    list-style: none;
}
