:root {
    font-size: 10px;
}

#menu {
    grid-template-areas:
        "headermenu headermenu headermenu"
        "starter main_course dessert"
        "confirmation confirmation confirmation";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:0;
}

