

body{
    grid-template-rows: 725px repeat(2, auto);
    overflow-x: hidden;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto", sans-serif;
    font-size: 30px;
}
#menu ul{
    font-size:26px;
}#menu li {
     grid-template-columns: 1.8fr .1fr .1fr;
     grid-template-rows: 40px;
 }

#logo i {
    font-size:25px
}
#logo h1{
    left: 500px;
    font-size: 50px;

}

#logo img{
    height: 570px;
}
.logoname  {
    padding-left:20px;
    font-size:35px;
}

#logo div i {
    padding-left: 60px;
}
button{
    left: 530px;
}